<h1>New Recipe</h1>

<form name="newRecipe" novalidate>
  <div class="clearfix">
    <div class="twothirds">
      <form-field record="recipe" field="title" live="false" required="true"></form-field>
      <form-field record="recipe" field="description" live="false" required="true"></form-field>
    </div>
    <div class="onethird last">
      <form-field record="recipe" field="servings" live="false"></form-field>
      <form-field record="recipe" field="time" live="false"></form-field>
      <form-field record="recipe" field="source" live="false"></form-field>
    </div>
  </div>

  <div class="clearfix">
    <div class="onethird ingredients-area">
      <div class="form-group" ng-form="ingredients">
        <h2>Ingredients</h2>
        <div class="mb-1 form-item" ng-repeat="ingredient in recipe['ingredients']">
          <label>Ingredient {{$index + 1}}</label>
          <input type="text" ng-model="ingredient[0]" ng-change="update(ingredient)" ng-blur="blurUpdate(ingredient)" ng-class="{ 'has-error': {{ingredient}}.$dirty && {{ingredient}}.$invalid }" />
          <a class="remove-item" href="" ng-if="$index > 1" ng-click="removeIngredient(ingredient)">×</a>
        </div>
      </div>
      <p><a href="" ng-click="addIngredient()">+ Ingredient</a></p>
    </div>
    <div class="twothirds steps-area last">
      <div class="form-group" ng-form="steps">
        <h2>Steps</h2>
        <div class="mb-1 form-item" ng-repeat="step in recipe['steps']">
          <label>Step {{$index + 1}}</label>
          <textarea ng-model="step[0]" ng-change="update(step)" ng-blur="blurUpdate()" ng-class="{ 'has-error': {{step}}.$dirty && {{step}}.$invalid }"></textarea>
          <a class="remove-item" href="" ng-if="$index > 0" ng-click="removeStep()">×</a>
        </div>
      </div>
      <p><a href="" ng-click="addStep()">+ Step</a></p>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-offset-2">
      <button class="btn btn-primary" ng-click="save()">Create Recipe</button>
    </div>
  </div>
</form>
