<div ng-if="!recipe.image.length" class="row">
  <div class="twothirds">
    <h1>{{recipe.title[0]}}</h1>
    <p>{{recipe.description[0]}}</p>
  </div>
  <div class="onethird last">
    <div ng-if="recipe.servings[0].length > 0" class="servings">
      <strong>Servings:</strong> {{ recipe.servings[0] }}
    </div>
    <div ng-if="recipe.time[0].length > 0" class="time">
      <strong>Time:</strong> {{ recipe.time[0] }}
    </div>
    <div ng-if="recipe.source[0][0].length > 0" class="source">
      <strong>Source:</strong> <a target="_blank" href="{{ recipe.source[1][0]}}">{{ recipe.source[0][0] }}</a>
    </div>
  </div>
</div>

<div ng-if="recipe.image.length > 0" class="row">
  <div class="onehalf">
    <div ng-if="recipe.image.length > 0">
      <div class="flex-embed-16by9" ng-style="{'background-image':'url(/img/uploads/{{recipe.image}})'}"></div>
    </div>

  </div>
  <div class="onehalf last">
    <h1>{{recipe.title[0]}}</h1>
    <p>{{recipe.description[0]}}</p>
    <div ng-if="recipe.servings[0].length > 0" class="servings">
      <strong>Servings:</strong> {{ recipe.servings[0] }}
    </div>
    <div ng-if="recipe.time[0].length > 0" class="time">
      <strong>Time:</strong> {{ recipe.time[0] }}
    </div>
    <div ng-if="recipe.source[0][0].length > 0" class="source">
      <strong>Source:</strong> <a target="_blank" href="{{ recipe.source[1][0]}}">{{ recipe.source[0][0] }}</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="onethird">
    <h2>Ingredients</h2>
    <div class="ingredient" ng-repeat="ingredient in recipe.ingredients">
      {{ingredient[0]}}
    </div>
  </div>
  <div class="twothirds last">
    <h2>Steps</h2>
    <div ng-repeat="step in recipe.steps">
      <h4>Step {{$index + 1}}</h4>
      <p>{{step[0]}}</p>
    </div>
  </div>
</div>

<p class="btn-group"><a href="/recipes/{{recipe.cid}}/edit">Edit</a></p>
