<!doctype html>
<html ng-app="RecipesApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Teeling Recipes</title>
<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,700|Merriweather' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/main.css">
<base href="/">
</head>
<body class="{{PAGE}}">

<div ng-include="'views/nav.html'"></div>
<main>
  <div class="container content" ng-view></div>
</main>

<script> var USER = <%- JSON.stringify(user) %></script>
<!-- <script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular-route/angular-route.min.js"></script>
<script src="/lib/angular-resource/angular-resource.min.js"></script>
<script src="/lib/angular-messages/angular-messages.min.js"></script>
<script src="/src/app.js"></script>
<script src="/src/controllers.js"></script>
<script src="/src/factories.js"></script>
<script src="/src/filters.js"></script>
<script src="/src/directives.js"></script> -->
<script src="/js/main.min.js"></script>
</body>
</html>
