/* Buttons */

.btn {
  background: $color-secondary;
  color: $color-white;
  padding: .5em 1em;
  border: 0;
  box-shadow: 0 .25em .5em rgba(0,0,0,.25);
}

.btn-primary {
  background: $color-primary;
}
