label {
  display: block;
  font-weight: bold;
}

input[type=text],
input[type=email],
input[type=password],
input[type=search],
textarea {
  display: block;
  width: 100%;
  padding: .5em;
  border: 1px solid $color-border;
}

textarea {
  min-height: 7em;
}

.form-group {
  margin-bottom: 1em;
}

.form-item {
  position: relative;
}

.ingredients-area .remove-item,
.steps-area .remove-item {
  position: absolute;
  right: .25em;
  font-size: 2em;
  top: 28%;
}

.steps-area .remove-item {
  top: 12%;
}
