/* Header and Nav */

.header {
  padding: 1em 0;
  background: $color-primary;
  box-shadow: 0 .5em 1em rgba(0,0,0,.25);
  position: fixed;
  top: 0;
  width: 15em;
  height: 100vh;
  float: left;
  .logo {
    margin: .5em 0 2em;
    font-size: 1.5em;
    text-align: center;
    line-height: 1;
    span {
      font-size: 1.7em;
      text-transform: uppercase;
      letter-spacing: .05em;
      font-weight: bold;
    }
  }
  a {
    color: $color-white;
    display: block;
  }
  .nav a {
    padding: .5em;
    &:hover {
      background: rgba(0,0,0,.1);
      border-radius: 3px;
    }
  }

  h5 {
    padding: 2em .5em .5em;
    margin-top: 2em;
    border-top: 1px solid rgba(0,0,0,.1);
  }
}
